html {
    background-color: grey;
}

// Header router property
.is-active {
    font-weight: bold;
}

.header {
    background: lightblue;
    padding: 20px;
    border-radius: 5px;
}

.headerItem {
    margin: 0 10px 0 0;
    text-decoration: none;
    color: black;
    padding: 10px;
    background: lightseagreen;
    border-radius: 5px;
}

.buttonChoice {
    width: 200px;
    height: 50px;
}

.buttonUI {
    width: 75px;
    height: 25px;
    margin: 10px;
}

.buttonPlayGame {
    width: 120px;
    height: 40px;
}

.tableOfQuestions td {
    text-align: center;
}

.notLoggedInMessage {
    color: darkred;
    font-weight: bold;
}